- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h1= link_to restaurant.name, restaurant_path(restaurant)
    %h3 Average rating:
    = star_rating(restaurant.average_rating)
    %h5= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
    %h5= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
    %h5= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
    %h3
      Review for
      = restaurant.name

    - if restaurant.reviews.any?
      %ul
        - restaurant.reviews.each do |review|
          %li
            %p= pluralize review.endorsements.count, 'endorsement'
            %h3= review.thoughts
            %p= link_to "Delete #{restaurant.name} Review", review_path(review), method: :delete
    - else
      %p No reviews
- else
  %h3 No restaurants yet
= link_to 'Add a restaurant', new_restaurant_path
